- provide(:title, t('.title'))

- content_for :sidebar_body do
  - @manages.each do |manage|
    = link_to manage.title, manage_path(manage), :class => "list-group-item text-dark"

- content_for :content_body do
  = @manages.first.content.nil? ? '' : @manages.first.content.html_safe

= render "layouts/control_panel"
