.container.mt-4.py-3
  .row
    #sidebar-list.col-12.col-md-3.sidebar-bg.min-height-info
      %ul.list-group.list-group-flush.pt-3
        = yield :sidebar_body
    #sidebar-content.col-12.col-md-9.bg-white.min-height-900
      = yield :content_body
